<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:./src/resources/db/database.sqlite</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">true</property>

        <mapping class="mappings.BaseAttribute" />
        <mapping class="mappings.GroupSkill" />
        <mapping class="mappings.GroupTalent" />
        <mapping class="mappings.Profession" />
        <mapping class="mappings.ProfessionCareer" />
        <mapping class="mappings.ProfessionClass" />
        <mapping class="mappings.ProfSkill" />
        <mapping class="mappings.ProfTable" />
        <mapping class="mappings.Race" />
        <mapping class="mappings.RaceAttribute" />
        <mapping class="mappings.RaceTable" />
        <mapping class="mappings.RaceTalent" />
        <mapping class="mappings.RandomTalent" />
        <mapping class="mappings.Skill" />
        <mapping class="mappings.Talent" />
    </session-factory>
</hibernate-configuration>