# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/.mvn
/target
/out
./database_backup.h2.db
./database_backup_2.h2.db
./database.trace.db